.row {
    max-width: 100%;
}

#menu_archive {
    border: none;
    box-shadow: none;
    margin-left: 10%;
    margin-top: 2em;
    width: 90%;
}

#menu_archive h4 {
    margin: 0;
}

#menu_archive .btn, #menu_archive .btn-group, #menu_archive .btn-group-vertical {
    width: 100%;
}

#menu_archive .btn-group, #menu_archive .btn-group-vertical {
    margin-bottom: 1px;
}

#menu_archive .btn-group .btn {
    background-color: #f8f8f8;
}

#menu_archive .panel-body {
    padding: 0;
}

#menu_top .navbar-brand img {
    margin-top: -5px;
}
